.parent {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0d2136;
    color: #9aacc6;
    width: 17rem;
    /* height: 20rem; */
}
.siteName {
    margin-bottom: 0;
}
.siteName span {
    font-size: 2.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lure {
    margin-bottom: 0.5rem;
}
.logoBox {
    margin-top: 0.5rem;
}
.logoBox img {
    object-fit: cover;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.form {
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}
.input {
    width: 15rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid #0d2136;
    background-color:  #021524;
    outline: none;
    padding: 0.4rem 0.5rem;
}
.input:focus {
    outline: 0;
    box-shadow: 0 0 5px deeppink;
}
.alt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    /* border: 1px solid gray; */
    height: 6rem;
}
.or {
    margin-top: 0.5rem;
}

@media screen and (min-width: 360px) {
    .parent {
        width: 20rem;
    }
}