.card {
    width: 17rem;
    display: flex;
    align-items: center;
    /* border: 1px solid #fff; */
    padding: 0.3rem;
}
.text {
    width: 13rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 0.4rem 0.5rem;
    border: 1px solid deeppink;
}
.profilePic {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    float: left;
}

.nick {
    /* border: 1px solid #fff; */
    width: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}