.form {
    /* border: 1px solid #fff; */
    display: flex;
    padding: 0.5rem;
    align-items: center;
}
.input {
    padding: 0.4rem 0.6rem;
    width: 13rem;
    border: 1px solid #0d2136;
    background-color:  #021524;
}
.input::placeholder {
    color: #fff;
}
.input:focus {
    outline: 0;
    border: 1px solid deeppink;
    box-shadow: 0 0 5px deeppink;
}